@font-face {
  font-family: "poppinsregular";
  src: url("/public/Poppins-Bold.ttf") format("woff2");
}
@font-face {
  font-family: "poppinsblack";
  src: url("/public/Poppins-Light.ttf") format("woff2");
}
.navbar {
  background-color: rgb(16, 16, 16);
  display: flex;

  flex-wrap: wrap;

  justify-content: space-evenly;
  padding: 30px;
  align-items: center;
}
.links {
  display: flex;
 
  flex: 0.3;
  justify-content: space-evenly;
  font-family: "poppinsblack";
}
.nav-link {
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-link a {
   padding: 10px;
   background-color: #dbdcef;
}
.nav-link-modes {
  display: none;
}

.nav-link:hover {
  background-color: rgb(208, 41, 41);
  border-radius: 10px;
  padding: 10px;
  color: rgb(22, 24, 34);
}
.genres {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.genre-dropdown {
  position: absolute;
  /* top: 15%;
    right: 20%; */
  text-align: left;
  z-index: 2;
  background-color: rgba(51, 44, 44, 0.7);
  color: white;
  border: 1px solid #777;
  border-radius: 5px;
}
.genre-dropdown ul {
  list-style: none;
  padding-right: 10px;
}
.genre-dropdown li:hover {
  border-radius: 10px;
  padding-left: 10px;
  background-color: #555;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
