@font-face {
  font-family: 'poppinsbold';
  src: url('/public/Poppins-BlackItalic.ttf') format('woff2')
  
}
@font-face {
  font-family: 'poppinsmedium';
  src: url('/public/Poppins-MediumItalic.ttf') format('woff2')
  
}
@font-face {
  font-family: 'poppinsemibold';
  src: url('/public/Poppins-SemiBold.ttf') format('woff2')
  
}
@font-face {
  font-family: 'poppinsemilight';
  src: url('/public/Poppins-Light.ttf') format('woff2')
  
}
.movies {
  padding: 20px;
  margin-bottom: 50px;
}
.movies a {
  font-family: "poppinsmedium";
  color: red;
  text-align: left;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s; 
}
.movies a:hover{
  color: rgb(125, 125, 214);
}
.movies a:active,
.movies a:focus{
  color: rgb(140, 140, 196);
  padding: 10;
  background-color: #423838;
}


.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-details {
  padding: 10px;
  text-align: center;
}

.movie-title {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'poppinsemibold';
}

.movie-year {
  color: #ff3f3f;
}


.image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.image {
  position: relative;
}


@media screen and (max-width: 767px) {
  .movie-card {
    width: calc(100% - 70%); 
    margin: 5px;
  }
  .movie-title{
    font-size: calc(100% - 20%);
  }
}


.movie-card:hover {
  transform: scale(1.05);
}







